img.logo{
    margin:10px
}
img.footer-img{
   width: 55px;
   height: 55px; 
}

button.footer-button{
    padding:0px;
    border: 0px;
}

.MuiButton-root	{
    color: #255965 !important;
    background-color: #ffd803 !important;
    height: 50px !important;
    width: 50px !important;
    font-size: 2.5rem !important;
}

.MuiTextField-root	{
    color: #fff !important;
}