.MuiTypography-h1 {
  font-family: "Nunito", sans-serif !important;
  font-weight: 900 !important;
  color: #ffd803;
}
.MuiTypography-h4 {
  font-family: "Nunito", sans-serif !important;
  font-weight: 900 !important;
  text-align: center;
}
.MuiTypography-h7 {
  font-family: "Nunito", sans-serif !important;
  font-weight: 700 !important;
  text-align: center;
}
.MuiTypography-body1 {
  text-align: start !important;
  text-align: center;
}

@media (min-width: 320px) {
  .MuiTypography-h4 {
    margin: 0 !important;
    font-size: 2rem !important;
  }
  .MuiTypography-h7 {
    padding: 0px !important;
  }
  .MuiTypography-body1 {
    padding: 0px 25px !important;
  }
}

@media (min-width: 600px) {
  .MuiTypography-h4 {
    padding-bottom: 15px !important;
    font-size: 2.8rem !important;
  }
  .MuiTypography-h7 {
    padding-top: 20px !important;
    font-size: 1.6rem !important;
  }
  .MuiTypography-body1 {
    margin: 0 auto !important;
    padding: 30px 50px !important;
    font-size: 1.4rem !important;
  }
}

@media (min-width: 1200px) {
  .MuiTypography-h4 {
    padding-bottom: 15px !important;
    font-size: 2.8rem !important;
  }
  .MuiTypography-h7 {
    padding-top: 20px !important;
    font-size: 1.6rem !important;
  }
  .MuiTypography-body1 {
    margin: 0 !important;
    padding: 0 20% !important;
    padding-top: 50px !important;
    font-size: 1.4rem !important;
  }
  .css-1vlqop9-MuiContainer-root {
    margin-top: 0 !important;
    padding: 0 !important;
  }
} ;

